.container {
  background-color: orange;
  padding: 20px;
  text-align: center;
  color: white;
}

.time-slots-container {
  display: flex;
  flex-direction: column;
}

.time-slot {
  background-color: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
